<header class="site-header">
  <div class="container header-row">
    <a class="brand" href="/">Yoga Booking</a>
    <nav class="nav">
      <a href="/">Home</a>
      <a href="/courses">Courses</a>
      <a href="/admin">Dashboard</a>
      {{#user}}
      <a href="/account">My account</a>
      <span class="nav-user">Hi {{user.name}}</span>
      <a href="/auth/logout">Logout</a>
      {{/user}}
      {{^user}}
      <a href="/auth/login">Login</a>
      <a href="/auth/signup">Sign up</a>
      {{/user}}
    </nav>
  </div>
</header>